.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  border-bottom: 1px solid #e5e7eb;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 35px;
}

.logo {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #111827;
}

.navbar-left a {
  text-decoration: none;
  color: #6b7280;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}
.navbar-left a:hover {
  color: #111827;
}
.active-nav {
  color: #111827 !important;
  font-weight: 600;
  border-bottom: 2px solid #111827;
  padding-bottom: 4px;
}

.logout-btn {
  margin-left: auto;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.role-circle {
  width: 38px;
  height: 38px;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: default;
}