<nav class="navbar">
  <div class="navbar-left">
    <h4>HRMS</h4>
  </div>

  <div class="navbar-right">
    <button class="icon-btn">
      🔔
    </button>

    <button class="icon-btn">
      👤
    </button>

    <button class="icon-btn" (click)="logout()">
      🚪
    </button>
  </div>
</nav><nav class="navbar">
  <div class="navbar-left">
    <h4>HRMS</h4>
  </div>

  <div class="navbar-right">
    <button class="icon-btn">
      🔔
    </button>

    <button class="icon-btn">
      👤
    </button>

    <button class="icon-btn" (click)="logout()">
      🚪
    </button>
  </div>
</nav>